@{
    Layout = "_Layout";
    ViewData["Title"] = "Index - Lab4";
    <link href="~/css/StyleSheet.css" rel="stylesheet" />

}
<div>
    <h1 class="display-4" id="indexFont">
        Hi, this is Shadi Abdalla and Soojin Han!
    </h1>
</div>